services:
  web:
    build: .
    container_name: flaskauth
    ports:
      - "8080:8080"
    environment:
      - FLASK_ENV=production
      - SECRET_KEY=${SECRET_KEY}

    volumes:
      - ./instance:/app/instance
    healthcheck:
      test: ["CMD-SHELL", "curl -fsS http://localhost:8080/ >/dev/null || exit 1"]
      interval: 10s
      timeout: 3s
      retries: 20
