<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1"/>
  <title>{% block title %}Authentification Sécurisée{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<nav class="nav">
  <a href="{{ url_for('index') }}">Authentification Sécurisée</a>
  <div>
    {% if current_user.is_authenticated %}
      <a href="{{ url_for('dashboard') }}">Tableau de bord</a>
      {% if current_user.role == "admin" %}
        <a href="{{ url_for('admin') }}">Admin</a>
      {% endif %}
      <form action="{{ url_for('logout') }}" method="post" class="inline">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <button type="submit">Se déconnecter</button>
      </form>
    {% else %}
        <a class="bouton-nav" href="{{ url_for('login') }}">Se connecter</a>
        <a class="bouton-nav bouton-nav-secondaire" href="{{ url_for('register') }}">S'inscrire</a>
    {% endif %}
  </div>
</nav>

<main class="container">
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% for cat, msg in messages %}
      <div class="flash flash-{{ cat }}">{{ msg }}</div>
    {% endfor %}
  {% endwith %}
  {% block content %}{% endblock %}
</main>
</body>
</html>
