{% extends "base.html" %}
{% block title %}Inscription{% endblock %}

{% block content %}
<h1>Créer un compte</h1>

<form method="post" class="card">
  {{ form.hidden_tag() }}

  <label>Email</label>
  {{ form.email(class_="input") }}
  {% for err in form.email.errors %}
    <div class="erreur">{{ err }}</div>
  {% endfor %}

  <label>Mot de passe</label>
  {{ form.password(class_="input") }}
  {% for err in form.password.errors %}
    <div class="erreur">{{ err }}</div>
  {% endfor %}

  <label>Confirmer le mot de passe</label>
  {{ form.password2(class_="input") }}
  {% for err in form.password2.errors %}
    <div class="erreur">{{ err }}</div>
  {% endfor %}

  {% if form.errors %}
    <div class="erreur">Merci de corriger les erreurs ci-dessus.</div>
  {% endif %}

  <button type="submit">Créer</button>
</form>
{% endblock %}
